@use '../variables';

.button {
    background-color: variables.$color1;
    color: variables.$textColor;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s;
    &:hover {
        background-color: variables.$color2;
    }

    &--primary {
        background-color: variables.$color1;
        color: variables.$color2;
        &:hover {
            background-color: variables.$color2;
            color: variables.$color1;
        }
    }

    @media (max-width: 640px) {
        display: block !important;
        width: 100%;
        padding: 10px;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }

    @media (max-width: 2600px) {
        display: flex;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}